*{
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #002334;
  color: white;
}
header{
  height: 100vh;
  /* background-color: #023047; */
}
#logoname{
  width: 20%;
}



#logoname h1{
font-family: 'Honk', system-ui;
font-size: 40px;
margin-left: 8px;
}


#headercontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; 
}
nav{
  margin-right:  3rem;
  position: relative;
  top: 15px;
  
}
nav ul li {
  list-style: none;
  display: inline-block;
  
}
nav ul li a{
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-size: 1.35rem;
  margin: 10px;
  padding: 5px;
  border: 0;
  
  
}
nav ul li a:hover{
  border-bottom: 3px solid #fca311;

}


.intro{
  display: flex;
  justify-content: space-evenly;
}
#info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 14%;
  height: 45%;
}
#info p{
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}
#info h1{
  font-size: 40px;
  margin: 5px;
  padding: 5px;
  text-align: left;
  
}
#info h1 span{
  animation: Naveentext 1s ease-in-out 0s infinite alternate;
  
}
@keyframes Naveentext {
  from{
    color: #fffffe;
    
  }
  to{
    color: #ff9d00;
    
  }
  
}

#myimage img{
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 80px; 
  position: relative;
  top: 50px;
  animation: naveen 2s  ease-in-out 0s 1  alternate;
  animation-fill-mode: forwards;
}
/* #myimage{
  animation: naveen 0.5s  ease-in-out 0s infinite alternate;

} */
@keyframes naveen{
  from{
    
    width: 300px;
  height: 300px;
  }
  to{
    
    width: 350px;
    height: 350px;
  }

}

.aboutcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 60px;
}
.aboutimage{
  width: 350px;
  height: 400px;
  
  
}
.aboutimage img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  /* margin: 0px 80px 40px 40px; */
  box-shadow: 5px 5px 5px black;
}
.aboutinfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-left: 80px; */
  
}
.aboutinfo p{
  margin: 10px 0px 10px 10px;

}
.sideheadings{
  font-size: 40px;
  margin: 0px 10px 0px 10px;
  color: #ff9d00;
}
.tab-titles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.active-link{
  border-bottom: 3px solid #ff9d00;
}
.tablinks{
  font-size: 20px;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
}
.tabcontents{
  display: none;
}
.active-tab{
  display: block;
}
.tabcontents ul li{
  list-style: none;
  font-size: 14px;
  margin: 20px;
  color: rgb(215, 210, 210);

}
.tabcontents ul li span{
  font-size: 18px;
  color: #ff9d00;
  margin-top: 10px;
  
}


.skillcontainer{
  display: flex;
}
.skill{
  margin-left: 60px;
}
.skillsideheading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillsideheading h3{
  font-size: 22px;
  text-align: center;
  padding: 10px;
  

  
}
.skillitemcontainer1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 25px ;
}
.skillitemcontainer2{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1a506b;
  border-radius: 30px;
  padding: 20px;
  width: 60%;
}
.skillitemcontainer2 h5{
  
  font-size: 16px;
  color:#002334;
  
}
.skillitem{
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fca311;
  margin: 10px;
  border-radius: 10px;
}
.skilltitle{
  font-size: 10px;
}




.projectsection{
  margin: 50px;
}
.projectcontainer{
    padding: 50px 0;
    width: 100%;
}
.projectitems{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projects{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 305px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #133d52;
    padding: 10px;
    border: 2px solid white;
    transition: 0.6s;
}
.projects:hover{
    transform: scale(1.05);
}
.projects img{
    width: 280px;
    height: 200px;
   
    display: block;

}
.layer{
    margin: 5px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.layer h3{
    font-size: 24px;
    text-align: center;
    margin-bottom: 4px;
    
}
.layer p{
    margin: 5px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.582);
}
.layer a{
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    width: 16%;
    color: black;
    padding: 14px;
    border-radius: 40px;
    text-align: center;
    position: relative;
    left: 120px;
    margin-top: 8px;
    transition: 0.8s;
}
.layer a:hover{
    background-color: #fca311;   
}


.row{
  display: flex;
  justify-content: space-between;
  margin: 50px ;

}
.contact-left{
  flex-basis: 35%;
  
}
.contact-right{
  flex-basis: 60%; 
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-left p {
  margin-top: 30px;
  margin-left: 60px;
}
.contact-left p i{
  color: #fca311;
  margin-right: 15px;
  font-size: 25px;
}
.socialmedia-icons{
  margin-left: 60px;
  margin-top: 40px;
}
.socialmedia-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: white;
  display: inline-block;
  transition: 0.3s;
}
.socialmedia-icons a:hover{
  transform: translatey(-8px);
  color: #fca311;
}
form input,form textarea {
  outline: none;
  width: 100%;
  border: 0;
  background: white;
  padding: 15px;
  margin: 15px 0;
  color: #023047;
  font-size: 18px;
  border-radius: 6px;

}
form button{
  width: 100px;
  height: 45px;
  font-size: 18px;
  
  border-radius: 6px;
  background-color: #fca311;
  font-weight: 500;


}


nav .fas{
  display: none;

}


@media screen and (width:500px) {
  nav ul .fas{
    position: absolute;
    top: 0px;
    left: 15px;
    cursor: pointer;

  } 


  
  #headercontainer{
    display: flex;
    flex-direction: row;
    width: 110%;
    justify-content: space-between
  }
  
  #intro{
    width: 110%;
  }
  
 } 



@media screen and (max-width:800px){
  nav .fas{
    display: block;
    font-size: 25px;
  
  }
  .intro{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    
  }
  .aboutcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

 }
 .aboutinfo{
  width: 87%;
  margin: 30px;
 }
  
  
  #myimage img{
    margin: 10px;
  }
#info{
  align-items: center;
}
  #info p{
    font-size: 14px;
    margin: 30px 50px ;
    padding: 10px;
    
}
#info h1{
  font-size: 35px;
  margin: 0px;
  
  
}
 nav ul{
  background: #133d52;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  top: 0;
  right: -200px;
  z-index: 1;
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  transition: right 0.5s;

}
nav ul li{
  display: block;
  margin: 25px;
}
nav ul .fas{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
} 
#logoname{
  width: 200px;
 
}
nav .fa-bars{
  position: relative;
  top: -6px;
  right: -15px;

}
  .projectitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .contact-left h1{
    margin: 40px 0px 20px 0px;
  }
  .contact-left p{
    font-size: 15px;
  }
  .contact-right {
    margin: 2rem 0rem 1rem 2rem ;
  }
  .row{
    margin: 20px 0 0 30px;
    width: 80%;
  }
  .socialmedia-icons{
    margin-left: 20px;
    margin-top: 40px;
}
.contact-left p {
  margin-top: 30px;
  margin-left: 15px;
}
form input,form textarea{
  width: 100%;
}

}